 body{
    margin: auto;
    padding: 0;
    font-family: sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

a:active{
    color: red;
}

a:visited{
    color: black;
}

a:hover{
    color: #ddd;
}

.header {
    width: 100%;
    height: auto;
    background-color: #192A78;
}

.header_head{
    width: 80%;
    margin: auto;
}

.header h5, h4{
    padding: 0;
    margin: 0 0 10px 2px;
    color: white;
}

.logo_rait {
    color: #192A78;
    padding: 4px;
    background-color: white;
}

.logo_img{
    width: 2%;
    height: 2%;
}

.logo_skgmi {
    color: white;
    margin-top: 0;
}

h1{
}

.menu{
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
}

ul.menu li{
    display: inline;
    padding: 8px;
    font-size: x-large;
    cursor: pointer;
}

ul.menu li a{
    color: white;
}

ul.menu a:hover{
}

.content {
    width: 80%;
    height: auto;
    margin: auto;
    padding: 1%;
    background-color: white;
}

.table_rait th{
    border: 1px solid #192A78;
    background: #192A78;
    color: white;
    padding: 4px;
}

.table_rait td{
    border: 1px solid #ddd;
    color: black;
    padding: 4px;
    background: white;
}


.table_rait td:hover{
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

#t2013{
    display: none;
}
#t2012{
    display: none;
}
#t2011{
    display: none;
}
#t2010{
    display: none;
}

#container{
    display: none;
}

.footer {
    width: 100%;
    height: 100px;
}

#selYear{
    margin: 1%;
    color: #192A78;
    font-weight: bold;
}
