

.kafbuf {
    display: none;
}

/*
a {
    color: black;
    text-decoration: none;
}


    a:visited {
        color: white;
    }

*/

.header {
    padding-top: 20px;
}

/*

.header_head {
    width: 800px;
    margin-left: 0;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.logo_back {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

    .logo_back:hover .backtogmi {
        display: block;
    }

	*/

.backtogmi {
    width: auto;
    margin: auto;
    color: #1d3347;
    border: solid 1px #ddd;
    padding: 8px;
    display: none;
    position: absolute;
    margin-top: 0;
    background-color: #fff;
}

.backtogmi_forphone {
    display: none;
    color: #fff;
    font-weight: bold;
}

    .backtogmi_forphone:hover {
        cursor: pointer;
    }

.backtogmi ul {
    margin: 0;
    padding: 0;
}

    .backtogmi ul li {
        list-style: none;
        margin: 0;
        padding: 8px;
    }

        .backtogmi ul li a {
            color: black;
        }

        .backtogmi ul li:hover {
            text-decoration: underline;
        }



.button1 {
    display: none;
}

/*	
.header h5 {
    color: white;
    margin: 0 0 10px 2px;
    padding-top: 8px;
}

.header h4 {
    color: white;
    margin: 0 0 10px 2px;
    padding: 0;
}

.logo_rait {
    color: #192A78;
    padding: 4px;
    background-color: white;
}

.logo_img {
    max-width: 180px;
    max-height: 170px;
    padding-top: 20px;   
    padding-left: 10px;
    padding-right: 10px;
}

.logo_skgmi {
    color: white;
    font-size: x-large;
    margin-top: 0;
}

*/


.menu {
    padding-top: 0px;       
    margin-bottom: 0;
}

    .menu li {
        cursor: pointer;     
			
    }
		
		
.dep_list {
    list-style: none;
    width: 70%;
    color: #192A78;
    background: #ddd;
    padding-left: 0;
}

    .dep_list li {
        margin: 10px;
        padding: 10px;
    }

        .dep_list li:hover {
            background: #7884D0;
            cursor: pointer;
            color: #fff;
        }

.dep_label {
    margin: 40px;
}

.span-text {
    font-size: 18pt;
    color: #192A78;
    margin: 40px 0 20px 0;
}

#dep_info_table {
    display: none;
    text-align: center;
}

#info_graphic{
    margin-top: 20px;
}

.info_block {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    
    justify-content: space-around;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}


.alltable {
    display: none;
}

/*
.ratingOnFak, .container_for_graphics, .progn {
    height: auto;
    padding: 10px;
    background-color: white;
}

.table_rait th {
    color: white;
    border: 1px solid #192A78;
    padding: 4px;
    background: #192A78;
}

.table_rait td {
    color: black;
    border: 1px solid #ddd;
    padding: 4px;
    background: white;
}

*/

#t2014 {
    display: none;
}

#t2013 {
    display: none;
}

#t2012 {
    display: none;
}

#t2011 {
    display: none;
}

#t2010 {
    display: none;
}

#progn {
    display: none;
}


.graphic{
	margin-top: 20px;
}

/*
#graphic, #graphic_attend, #graphic_uspev,
#graphic_zp, #graphic_asp, #graphic_badRait,
#graphic_fin, #graphic_lowMark {
    width: 600px;
    height: 400px;   
}
*/


#progn, #statistic, #container_for_graphics {
    display: none;
}

/*
.container_p {
    color: #192A78;
    font-size: x-large;
    padding-top: 20px;
}

.progn_crit_tbs td {
    padding: 6px;
}

#czp td {
    padding: 2px;
}

.crit_p {
    text-decoration: underline;
}

.input-button {
    border: 0;
    cursor: pointer;
    background-color: #fff;
}

    .input-button:hover {
        color: #1d3347;
        text-decoration: underline;
    }

.prikaz {
    margin-top: 40px;
    margin-bottom: 20px;
}

.footer {
    width: auto;
    color: #808080;
    height: auto;
	margin-top: 5px;
}

#selYear {
    color: #192A78;
    margin: 1%;
    margin-top: 50px;
    font-weight: bold;
    font-size: 18pt;
}

.progn .table_rait{
    text-align: center;
}

.ratingOnFak {
    color: #192A78;
}

    .ratingOnFak > select {
        font-size: 12pt;
    }

    .ratingOnFak > .table_rait {
        margin: 2%;
    }

.hh3 {
    font-size: 18pt;
    color: #192A78;
}

.ratingOnFak > h3 {
    font-size: 18pt;
}

.div_flex {
    display: flex;
    margin: 10px;
}

    .div_flex > select {
        font-weight: bold;
        font-size: 12pt;
        margin: 4px;
    }

*/


/*

@media (max-width: 840px) {
    body {
        width: 100%;
        margin: 0;
    }

    .logo_back {
        display: none;
    }

    .content {
        margin-left: 0;
    }

    .backtogmi {
        display: block;
        position: inherit;
    }

    .backtogmi_forphone {
        display: block;
    }


    .backtogmi_forphone_ul {
        display: none;
        height: 0;
        background-color: #ddd;
        list-style: none;
        width: auto;
        margin: 10px;
        padding: 10px;
    }

        .backtogmi_forphone_ul li {
            margin: 10px;
        }

            .backtogmi_forphone_ul li a {
                color: #192A78;
            }

    .menu li {
        display: block;
        margin: 5px;
    }

    .header_head {
        width: 100%;
    }

    .beta, .beta_smyle {
        display: none;
    }
}

*/