 body{
    margin: auto;
    padding: 0;
    font-family: sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

a:active{
    color: red;
}

a:visited{
    color: black;
}

a:hover{
    color: #ddd;
}

.IE_graph
{
    padding: 2%;
    }
    
.content {
    width: 80%;
    height: auto;
    margin: auto;
    padding: 1%;
    background-color: white;
}

.table_rait th{
    border: 1px solid #06c;
    background: #06c;
    color: white;
    padding: 4px;
}

.table_rait td{
    border: 1px solid #ddd;
    color: black;
    padding: 4px;
    background: white;
}


.table_rait td:hover{
    
}

p.prikaz{
    margin-top: 40px;
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    height: auto;
    margin-top: 5%;
    color: black;
    display: flex;
}

.divpad{
    padding: 5%;
}

